<p id="notice"><%= notice %></p>

<div class="grid-x grid-margin-x grid-padding-x align-top grid-margin-x">
  <div class="cell small-6"><%= image_tag(rails_blob_path(@coach.coachphoto)) %></div>
  <div class="cell small-6">
		  <div class="grid-x grid-container full">
	  			 <div class="cell small-6"> <strong>Name:</strong></div>
  			   	 <div class="cell small-6"><%= @coach.name %></div>
	  			 <div class="cell small-6"> <strong>Coach Type:</strong></div>
  			   	 <div class="cell small-6"><%= @coach.coachtype %></div>
	  			 <div class="cell small-6"> <strong>Day Rate:</strong></div>
  			   	 <div class="cell small-6"><%= @coach.dayrate %></div>
				 
	  			 <div class="cell small-12 align-middle grid-margin-x"><center><b>Some Brands Worked For</b></div>
				 
  			   	 <div class="cell small-6"><%= image_tag(@coach.brand1.variant(resize_to_limit: [125,125])) if @coach.brand1.attached?%></div>
	  			 <div class="cell small-6"><%= image_tag(@coach.brand2.variant(resize_to_limit: [125,125])) if @coach.brand2.attached?%></div>
  			   	 <div class="cell small-6"><%= image_tag(@coach.brand3.variant(resize_to_limit: [125,125])) if @coach.brand3.attached?%></div>
	  			 <div class="cell small-6"><%= image_tag(@coach.brand4.variant(resize_to_limit: [125,125])) if @coach.brand4.attached?%></div>
  			   	 <div class="cell small-6"><%= image_tag(@coach.brand5.variant(resize_to_limit: [125,125])) if @coach.brand5.attached?%></div>
				 <div class="cell small-6"><%= image_tag(@coach.brand6.variant(resize_to_limit: [125,125])) if @coach.brand6.attached?%></div>
  		 </div>
</div>

<script>
	//$(function(){ $(document).foundation(); });
	$(document).on('turbolinks:load', function() {
	    $(function(){ $(document).foundation(); });
	});
</script>







